* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-color: #04ca88;
    max-width: 1100px;
    height: 500px;
    margin: auto;
    display: flex;
    margin-top: 100px;
}

.first-row {
    height: 500px;
    width: 300px;

}

.box1 {
    height: 200px;
    width: 300px;
    border: 10px solid black;
    border-right: 0px;
}

.box2 {
    height: 300px;
    width: 300px;
    border: 10px solid black;
    border-top: 0px;
    border-right: 0px;

}

.second-row {
    height: 500px;
    width: 250px;

}

.box3 {
    height: 300px;
    width: 250px;
    border: 10px solid black;
    border-right: 0px;
}

.box4 {
    height: 200px;
    width: 250px;
    border: 10px solid black;
    border-top: 0px;
    border-right: 0px;
}

.third-row {
    height: 500px;
    width: 250px;

}

.box5 {
    height: 100px;
    width: 250px;
    border: 10px solid black;
    border-right: 0px;
}

.box6 {
    height: 400px;
    width: 250px;
    border: 10px solid black;
    border-top: 0px;
    border-right: 0px;
}

.fourth-row {
    height: 500px;
    width: 250px;
}

.box7 {
    height: 300px;
    width: 300px;
    border: 10px solid black;
}

.box8 {
    height: 200px;
    width: 300px;
    border: 10px solid black;
    border-top: 0px;
}