* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-color: #d0d0d0;
    max-width: 890px;
    height: 350px;
    margin: auto;
    display: flex;
    padding: 20px;

    margin-top: 100px;
}

.right {
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.box-01 {
    background-color: #ff7676;
    width: 300px;
    height: 290px;
    margin: 10px;
    text-align: center;
    padding-top: 100px;
}

.box-02 {
    background-color: #c2ff76;
    width: 500px;
    height: 100px;
    margin: 10px;
    text-align: center;
    padding-top: 30px;
}

.bottom {
    display: flex;
}

.box-03 {
    background-color: #ff9bf7;
    width: 250px;
    height: 160px;
    margin: 10px;
    text-align: center;
    padding-top: 60px;

}

.end {
    height: 150px;
    width: 250px;
}

.box-4a {
    background-color: #9ba4ff;
    width: 250px;
    height: 75px;
    margin: 10px;
    text-align: center;
    padding-top: 30px;
}

.box-4b {
    background-color: #9ba4ff;
    width: 250px;
    height: 75px;
    margin: 10px;
    text-align: center;
    padding-top: 30px;
}