.box-01{
    background-color: #ff6e61;
}
.box-02{
    background-color: rgba(106, 91, 148);
}
.box-03{
    background-color: hsl(84, 39%, 49%);
}
.box-04{
    background-color: #f6cac9;
}
.box-05{
    background-color: rgba(145, 168, 209);
}
.box-06{
    background-color: hsl(1, 30%, 45%);
}
.box-07{
    background-color: #b564a7;
}
.box-08{
    background-color: rgba(0, 154, 118);
}
.box-09{
    background-color:  hsl(10, 73%, 50%);
}
.box-10{
    background-color: #44b8ad;
}
.box-11{
    background-color: rgba(239, 191, 80);
}
.box-12{
    background-color: hsl(238, 29%, 50%);
}